.hero-title-page{
    background-color: antiquewhite;
}

.main-title{
    padding-top: 100px;
    margin-left: 150px;
    font-size: 50px;
}
.title-paragh{
    margin-top: 30px;
    margin-left: 150px;
    margin-bottom: 60px;
    max-width: 600px;
}
.btn-main{
    width: 150px;
    font-size: 20px;
    margin-left: 150px;
    padding-bottom: 60px;
    margin-top: 30px;
}
.btn{
    text-decoration: none;
    color: rgb(18, 18, 18);
    border: 1px solid #565656;
    padding: 15px;
    border-radius: 10px;
}

.btn:hover {
    background-color: #0056b3;
    border-color: #003875; /* Altera a cor da borda no hover */
}

h2{
    padding-bottom: 40px;
    padding-top: 40px;
}

.missoes-valores{
    margin-top: 90px;
    margin-left: 150px;
    max-width: 690px;
    margin-bottom: 90px;
}

p{
    line-height: 1.6; /* Aumenta o espaçamento de linha */
    text-align: justify;
}

.grid {
    display: flex;
    margin-left: 150px;
    margin-bottom: 90px;
    
}
  
.card {
    margin-right: 40px;
    padding: 40px;
    text-align: left;
    text-decoration: none;
    border: 1px solid #222222;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
    color: #171717;
}
  
.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border: 1px solid #0070f3;
}
  
  .card h2 {
    font-size: 40px;
  }
  
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  