*{
    padding: 0;
    margin: 0;
}

/*--------------------------*/


.Hero-title{
    display: flex;
    align-items: center;
    justify-content: center;

}

#logo-brasilidades{
    width: 30%;
    margin: 0 auto;
    padding: auto;
    margin-top: 20px;
}
.text-1{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 50px;
}
.paragh{
    max-width: 60%;
    text-align: justify;
}

  .footer{
    max-height: 100px;
    width: 100%;
    background-color: rgb(83, 192, 0);
    margin-bottom: 0;
  }


/*--------------------------------------------------------------------------------------*/

/*Mapa do Brasil*/
.container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin: 0 auto;
}

.mapa-brasil{
  width: 40%;
  border: 1px solid #000000;
  padding: 30px;
  border-radius: 10px;
}

.norte, .nordeste, .centro-oeste, .sudeste, .sul {
  transition: fill 0.1s ease;
  border: 4px solid #000000;
}

.norte {
  fill: #63ab3f;
  border: 4px solid #000000;
}

.nordeste {
  fill: #f0b541;
}

.centro-oeste {
  fill: #db7323;
}

.sudeste {
  fill: #4fa4b8;
}

.sul {
  fill: #686f99;
  border: 4px solid #000000;
}

g:hover {
  fill: rgba(0, 20, 241, 0.406);
  
}

.tooltip {
  pointer-events: none;
  position: absolute;
  font-size: 18px;
  text-align: center;
  background: white;
  padding: 10px 15px;
  z-index: 5;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  color: #21669e;
  border-radius: 5px;
  transform: translateX(-50%);
  display: none;
}
.tooltip.active {
  display: block;
}
.tooltip:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}

  /*-----------------------------------------------*/


  .progress-bar {
    display: flex;
    align-items: center;
    position: relative;
    margin: 20px auto;
    width: 80%;
    height: 50px;
}

.progress-line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ddd;
    z-index: 1;
    transform: translateY(-50%);
}

.progress-step {
    width: 40px;
    height: 37px;
    background-color: white;
    border: 2px solid #4CAF50;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    color: #4CAF50;
    font-weight: bold;
}

.progress-step.active {
    background-color: #4CAF50;
    color: white;
}

.progress-step:not(:last-child) {
    margin-right: calc((100% - 200px) / 4); /* Espaçamento entre os círculos */
}

.video-holder{
  background-color: #ededed;
  margin: 0;
  padding: 60px;
}
.video-container {
  width: 80%;
  max-width: 800px;
  background-color: #613131;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  
}
video {
  width: 100%;
  border-radius: 5px;
}
.multiplaescolha{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;

}
.multi-menu{
    display: flex;
    list-style: none;
    gap: 50px;
    
}

/*--------------------------------------------------------------------------------------*/